<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择角色</title>
</head>
<body>
    <h1>角色列表</h1>
<a href="https://www.bh3.com/valkyries/1216/15244" target="_blank">
      <img style=" width :650px" src="/static/chn1.jpg"/>
</a>
<a href="https://www.bh3.com/valkyries/17756/17758" target="_blank">
      <img style=" width :650px" src="/static/chn2.png"/>
</a>
<a href="https://www.bh3.com/valkyries/21416/21418" target="_blank">
      <img style=" width :650px" src="/static/chn3.png"/>
</a>
</body>
</html>