<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BH3小站</title>
</head>
<body>
<h1>崩坏3，点燃ACG动作之魂</h1>
    <div>
        <span style="color:mediumvioletred">时间：</span>
        <span style="color:cornflowerblue">2022年8月14日</span>
    </div>
    <a href="/register">用户注册</a>
    <div>
        欢迎来到5.9版本——「螺旋长宴」！

        「反转「意义」，颠覆「常理」，用「真实」创造虚妄，以「未知」铸就奇迹。」——全新S级角色「螺旋·愚戏之匣」登场！

        夏日主题活动「夏日生存狂想曲·A面」即将开启，参与活动可获取粉色妖精小姐♪全新服装「夏日妖精小姐♪」、能量模具、水晶等奖励！活动期间完成指定任务还可获得周边抽奖机会，赢取手办、立牌、抱枕、挂画等周边奖励！

        炎炎夏日，今年份的暑期实物补给也如期而至~40万册《崩坏3原画集Vol.1 流星的旅途》等待舰长参与活动获取。还有主线31章更新、无限·噬界之蛇全新服装「湛碧之女」等精彩内容。
        <a href="http://www.chinaunicom.com.cn/about/about.html">点击跳转</a>

    </div>
    <div>
        <img style=" height:200px" src="/static/banben1.png"/>
        <img style=" height:200px" src="/static/banben2.png"/>
        <a href="/charactor/list">角色查看</a>
    </div>
<h2>bh小剧场</h2>
    <div>
        <span style="color:mediumvioletred">时间：</span>
        <span style="color:cornflowerblue">2022年8月14日</span>
    </div>
    <div>
        ★主线第三十一章——「致爱莉希雅」

        「于过去而言，我们的确是失败者。」

        「可对于未来……侵蚀之律者啊，那让我们得以成为开拓者的对决……」

        「……现在才要开始。」
        <a href="/get/news">查看更多</a>
    </div>
<h1>版本列表</h1>
    <ul>
        <li>5.9螺旋长宴</li>
        <li>5.8繁星绘卷</li>
        <li>5.7深罪长歌</li>
    </ul>
<h2>乐土英桀清单</h2>
    <table border="2">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>梅比乌斯</td>
            <td>奶奶</td>
        </tr>
        <tr>
            <td>1</td>
            <td>爱莉希雅</td>
            <td>18</td>
        </tr>
        <tr>
            <td>2</td>
            <td>浮华</td>
            <td>不详</td>
        </tr>
        <tr>
            <td>3</td>
            <td>格蕾修</td>
            <td>12</td>
        </tr>
        </tbody>
    </table>
<h1>输入内容</h1>
    <input type="text">
    <input type="password">
    <input type="file">
    <input type="radio" name="n1">男
    <input type="radio" name="n1">女
    <input type="button" value="提交">
    <input type="submit" value="提交">  #提交表单
<h1>御三家下拉框</h1>
    <select>
        <option>琪亚娜</option>
        <option>芽衣</option>
        <option>布洛妮娅</option>
    </select>
<h1>多行文本</h1>
    <textarea></textarea>
</body>
</html>